body {
	font-family: 'Open Sans';
	color: #6B3A11;
}
#header {
	background-color: #6B3A11;
	height: 90px;
}
#header article{
	color: white;
	font-size: 60px;
	position: absolute;
	padding-left: 30px;
}
#banner {
	background: url(../images/background.jpg) 50% 0 repeat fixed;
	min-height: 200px;
	height: 200px;
	margin: 0 auto;
	width: 100%;
	position: relative;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
h4{
	display: block;
	text-align: center;
}
.svg-container{
	display: block;
}
.svg{
	margin-left: auto;
	margin-right: auto;
	display: block;
}
#drinks-burst, #sides-burst{
	width: 49%;
	display: inline-block;
}
.text {
	color: #6B3A11;
}
.labels{
	font-size: 12px;
}
.list li{
	color: #928b86;
	font-size: 1.2em;
	font-weight: 500;
}
.key{
    color: #928b86;
	font-size: 1.0em;
}
path {
  stroke: #fff;
  fill-rule: evenodd;
}
.tooltip {
  font-size: 12px;
}
img {
    float: left;
    width: 500px;
}
p {
    float right;
    margin: 5%;
}
#main-burst {
    clear: both;
}
hr {
    padding: 0;
    border: none;
    border-top: medium double;
    color: #A8A8A8;
    text-align: center;
    width: 50%;
}
#footer {
	margin: 0px auto;
	width: 850px;
}  
#footer a {
	color: #6B3A11;
	text-decoration: none;
}  
#footer a:hover {
	color: #2d2015;
	text-decoration: none;
}
#footer .thanks {
	padding: 5px 0;
	text-align: center;
}
#footer .copyright {
	padding: 10px 0;
	text-align: center;
}