body {
	font-family: 'Open Sans';
	color: #6B3A11;
}
#header {
	background-color: #6B3A11;
	height: 90px;
}
#header article{
	color: white;
	font-size: 60px;
	position: absolute;
	padding-left: 30px;
}
#banner {
	background: url(../img/background.jpg) 50% 0 repeat fixed;
	min-height: 400px;
	height: 400px;
	margin: 0 auto;
	width: 100%;
	position: relative;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#banner article {
	font-family: 'Open Sans';
	font-size: 100px;
	color: white;
	height: 150px;
	position: absolute;
	text-align: center;
	top: 50px;
	padding-left: 50px;
	width: 30%;
}
h4{
	display: block;
	text-align: center;
}
.svg-container{
	display: block;
}
.svg{
	margin-left: auto;
	margin-right: auto;
	display: block;
}
#drinks-burst, #sides-burst{
	width: 49%;
	display: inline-block;
}
.text {
	color: #6B3A11;
}
.labels{
	font-size: 12px;
}
.list li{
	color: #928b86;
	font-size: 1.2em;
	font-weight: 500;
}
.key{
    color: #928b86;
	font-size: 1.0em;
}
path {
  stroke: #fff;
  fill-rule: evenodd;
}
.tooltip {
  font-size: 12px;
}